@charset "UTF-8";
@import "_colors";
@import "_typography";
@import "~bulma/bulma";

html, body {
  margin: 0;
  height: 100%;
  display: block;
  font-family: $dc-font-family;
  background-color: $background;
}

.has-text-primary-light {
  color: $primary-light;
}

.has-text-primary-lighter {
  color: $primary-lighter;
}

.dc-code {
  font-family: Consolas, "Courier New", sans-serif;
}

.dc-hashtag {
  color: $primary-lighter;
}

.dc-scroll {
  display: block;
  position: absolute;
  bottom: 2.78rem;
  width: 15rem;
  left: 0;
  right: 0;
  margin: 0 auto;

  .dc-scroll-content {
    $dc-scroll-content-dimension: 4.2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    width: $dc-scroll-content-dimension;
    height: $dc-scroll-content-dimension;
    animation: dc-pulse 2.5s infinite;
    -webkit-animation: dc-pulse 2.5s infinite;
    border-radius: 2.5rem;
    border: $white .2rem solid;

    &:hover {
      box-shadow: 0 0 .2rem .16rem opacify(#d6d6d6, .25);
    }

    .dc-icon {
      margin-bottom: -.25rem;
      font-size: 2.5rem;
      color: $white;
    }
  }
}

@keyframes dc-pulse {
  0% {
    transform: translate(0, 0); }

  50% {
    transform: translate(0, 1.5rem); }

  100% {
    transform: translate(0, 0); }
}
