@charset "UTF-8";
@import "_colors";
@import "_typography";
@import "~bulma/bulma";

html, body {
  margin: 0;
  height: 100%;
  display: block;
  font-family: $dc-font-family;
  background-color: $background;
}

.has-text-primary-light {
  color: $primary-light;
}

.has-text-primary-lighter {
  color: $primary-lighter;
}

.dc-code {
  font-family: Consolas, "Courier New", sans-serif;
}

.dc-hashtag {
  color: $primary-lighter;
}
